*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;

    background-color: #8BC6EC;
    background-color: #2A4B78;
    background-color: #bfd0bd;
    background-color: #b2d0af;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    overflow: hidden;

    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;

    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
}



h3{
    margin: 10px 0;
    font-weight: 700;
    text-align: center;

    
}

p{
    margin: 20px;
    font-weight: 500;
}

#container{
    padding: 2rem;
    display: grid;
    gap: 6rem;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    overflow: hidden;
    

}





img{

    border: 3px solid black;
    width: 15.625rem;
    height: 12.5rem;

    background-size: cover; 
    background-position: bottom;
}

.div{
    position: absolute;
    top: var(--y);
    left: var(--x);
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    z-index: 1;

    background-color: bisque;

    border: 2px solid black;
    max-width: 15.625rem;



}

a{
    color: black;
}

#container a .div{
    position: absolute;
    top: var(--y);
    left: var(--x);
    opacity: 0;
    transition: 0.5s;
    pointer-events: none;
    

}

#container a:hover .div{
    opacity: 1;
    transform: translate(-50%,-50%);
}




